extends /layout/_default-layout
include /layout/_common

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  nav.button-area
    a.content--back(href="page3.html") Back
    a.content--next(href="index.html") Next
  +content("4")