extends /layout/_default-layout
include /layout/_common

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  main.content
    #loadwrapper
      .load
        nav.button-area
          button.content--back(data-href="index.html") Back
          button.content--next(data-href="page3.html") Next
        +content("2")