body {
    // 文字サイズの自動調整を無効にする
    text-size-adjust: 100%;
}
.button-area{
    text-align: center;
    padding: 10px 0;
}
.content{
    margin: 0 auto;
    padding-bottom: 40px;
}
.content1--img{
    @include common-headerImg;
    background: url("/image/sample1.png") no-repeat center bottom;
}
.content2--img{
    @include common-headerImg;
    background: url("/image/sample2.png") no-repeat center bottom;
}
.content3--img{
    @include common-headerImg;
    background: url("/image/sample3.png") no-repeat center bottom;
}
.content4--img{
    @include common-headerImg;
    background: url("/image/sample4.png") no-repeat center bottom;
}
.content--ttl{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    height: 100px;
    line-height: 100px;
}
.content--txt{
    font-family: 'PT Serif', serif;
    width: 75%;
    margin: 0 auto;
}
.content--back{
    @include button-style-reset;
    font-family: 'PT Serif', serif;
    font-size: 25px;
    padding: 10px 20px;
    &:hover{
        opacity: .6;
    }
}
.content--next{
    @include button-style-reset;
    font-family: 'PT Serif', serif;
    font-size: 25px;
    padding: 10px 20px;
    &:hover{
        opacity: .6;
    }
}